.e8let {
    color: #FFFFFF;
    transition: 0.25s;
}

.e8let:hover {
    color: #FF9B00;
}

.footer {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    color: rgb(133, 133, 133);
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: rgb(133, 133, 133);
}

.navbarLink {
    text-decoration: none;
    color: rgb(147, 147, 147);
    transition: 0.2s;
}

.navbarLink:hover {
    color: rgb(190, 190, 190);
}

.resultsTab {
    border-left: 1px #DEE2E6 solid;
    border-right: 1px #DEE2E6 solid;
    border-bottom: 1px #DEE2E6 solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 25px 25px 10px 25px;
}

.resultTabLink {
    text-decoration: none;
    color: #212529;
    transition: 0.2s;
}

.resultTabLink:hover {
    color: #000000;
}